body {
    background-color: rgb(30,31,26);
    margin: 0 auto;
    padding: 0;
    height: 100%;
    display: flex;
}

.menu-vertical {
    width: 200px;
    background-color: rgb(68, 73, 70);
    padding: 0;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.menu-vertical .nav-link {
    text-decoration: none;
    color: #ffffff; /* Cor alterada para melhor contraste */
    display: block;
    margin-bottom: 10px;
    transition: background-color 0.3s; /* Transição ao passar o mouse */
}

.menu-vertical .nav-link:hover {
    background-color: #4d4d4d; /* Efeito hover nos links */
}

.content {
    margin-left: 220px; /* Espaço para o menu vertical + margem */
    padding: 20px;
}

.icon-rs {
    width: 40px;
    padding: 0px 2px;
    margin: 0px;
    transition: transform 0.3s ease; /* Transição suave */
}

.icon-rs:hover {
    transform: scale(1.3); /* Aumenta o tamanho do ícone */
    
}

.txt_code_w {
    color: rgb(63, 68, 65);
}

.menus {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;   
    margin: 10px auto;
    padding: 5px;
    background-color: #7e7e7e;
    transition: background-color 0.3s; /* Transição ao passar o mouse */
}

.menus:hover {
    background-color: #595959; /* Efeito hover nos itens do menu */
}

.menu {
    height: 30%;
}

.titulo {
    font-family: 'Permanent Marker';
    font-weight: bold;
    color: white;
}

.sub_titulo {
    font-family: 'Indie Flower';
    font-weight: bold;
    color: white;
}

P,h2{
    font-weight: bold;
    color: white;
}

.img-profile {
    height: 140px;
    width: 140px; 
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .menu-vertical {
        width: 150px;
    }

    .content {
        margin-left: 170px;
    }
}
