body{
    background-color: black;
    margin: 0px auto;
    padding: 0px;
}

.titulo{
    font-family: 'Permanent Marker';
    font-weight: bold;
    color: white;
}

.sub_titulo{
    font-family: 'Indie Flower';
    font-weight: bold;
    color: white;
}